<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SemProject.Properties.Settings.dbmConnectionString"
            connectionString="datasource=localhost;port=3306;database=softwaredb;username=root;password="
            providerName="MySql.Data.MySqlClient" />
        <add name="SemProject.Properties.Settings.database1ConnectionString"
            connectionString="server=localhost;user id=root;database=database1"
            providerName="MySql.Data.MySqlClient" />
        <add name="SemProject.Properties.Settings.dmsConnectionString"
            connectionString="server=localhost;user id=root;password=Spkvac123;database=dms"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>